:root {
    /* 
        FIRST WE'LL DEFINE OUR SWATCHES, i.e. THE COMPLEMENTARY
        COLORS THAT WE'LL USE TOGETHER IN MULTIPLE PLACES THAT
        TOGETHER WILL MAKE UP A GIVEN THEME
    */
    --swatch-foundation:    #d9d6cc; /* USED FOR BODY BACKGROUND */
    --swatch-primary:       #40454e; /* DOMINANT COLOR, USED FOR MOST BACKGROUNDS */
    --swatch-complement:    #353a44; /* USED IN CONTRAST BACKGROUND FOR TOOLBARS */
    --swatch-contrast:      #111111; /* USED IN MOUSE-OVER SELECTION OF LARGE ELEMENTS */
    --swatch-accent:        #ffc819; /* USED IN MOUSE-OVER SELECTION OF TEXT AND BORDERS */  

    --swatch-text:          #e9edf0; /* USED IN MOUSE-OVER SELECTION OF TEXT AND BORDERS */ 
    --swatch-text-accent:   #ffc819; /* USED IN MOUSE-OVER SELECTION OF TEXT AND BORDERS */  

    --font-primary:         'Consolas', sans-serif;
}

#grid-container {
    background-color: var(--swatch-foundation);
    font-family: var(--font-primary);
}

.grid-item {
    background-color: var(--swatch-primary);
}


#navbar {
    box-shadow: 2px 2px 2px var(--swatch-primary); 
}

#left-sidebar {
    background-color: var(--swatch-complement);
    color: rgb(233,237,240);
}

#arrow-disabled {
    color : rgb(87, 93, 105);
    cursor: default;
    text-align: center;
}

#arrow-enabled{
    color: rgb(233,237,240);
    text-align: center;
}

#arrow-enabled:hover{
    cursor: pointer;
    background-color: var(--swatch-complement);
}

#close {
    color: rgb(233,237,240);
    cursor: pointer;
    text-align: center;
}

#close:hover {
    background-color: var(--swatch-complement);
}

#workspace {
    background-color: var(--swatch-primary);
    color: rgb(233,237,240);
}

#title-div {
    color: rgb(255,200,25);
    font-weight: bold;
    font-size: 18pt;
}

#left-sidebar-header {
    border-bottom: dotted;
}

#todo-list-table-header {
    border-bottom: dotted;
}

#task-input {
    background-color: rgb(87, 93, 105);
    color: #e9edf0;
}

#date-input {
    background-color: rgb(87, 93, 105);
    color: #e9edf0;
}

#status-input {
    font-family: Consolas;
    font-size: 14px;
    border: none;
    background-color: rgb(87,93, 105);
    color: #e9edf0;
}

.complete-status{
    color: #8ed4f8;
}

.highlight {
    cursor: pointer;
    background-color:#ffc819 !important;
}

.incomplete-status {
    color: #f5bc75;
}

.list-header-card {
    border-bottom: dotted;
}

.list-item-card {
    border-bottom: solid;
}

.list-item-card:hover {
    background-color: #7e8084;
}

.todo_button {
    background-color: var(--swatch-complement);
}

.todo_button:hover {
    cursor: pointer;
    background-color: var(--swatch-foundation);
}

.list-item-control {
    color: grey;
}

.modal-button {
    background-color: rgba(255,255,255,0);
    font-family: 'Consolas';
    border: none;
    transition: 0.1s ease-in-out;
    color: #e9edf0;
    text-align: center;
    font-size: 12pt;
}

.modal-button:hover {
    cursor: pointer;
    background-color: var(--swatch-foundation);
}

.modal-overlay {
    background-color: rgba(0,0,0,0.4);
}

.modal {
    color: #e9edf0;
    background-color: rgb(64, 69, 78);
    border-radius: 3px;
}

.modal-header {
    color: #e9edf0;
}

.button-disabled {
    color : rgb(87, 93, 105);
    cursor: default;
    text-align: center;
}

.button-enabled{
    color: rgb(233,237,240);
    cursor: pointer;
    text-align: center;
}

.button-enabled:hover{
    background-color: var(--swatch-complement);
}


