#grid-container {
    position: fixed;
    width: 100%;
    height: 100%;
    display: grid;
    padding: 0px;
    grid-template-rows: 7% 93%;
    grid-template-columns: 15% 85%;
}

html, body {
    margin: 0px;
}

#navbar {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    margin: 8px;
    padding-left: 5px;
    padding-top: 2px;
}


#left-sidebar {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    margin-left: 8px;
    margin-bottom: 8px;
}

#left-sidebar-header {
    display: flex;
    flex-direction: row;
    height: 45px;
    align-items: flex-end;
}

#workspace {
    grid-column: 2 span 1;
    grid-row: 2 span 1;
    display: flex;
    flex-direction: column;
    margin-right: 5px;
    margin-bottom: 5px;
}

#todo-list-items-div{
    display: flex;
    flex-direction: column;
}

#todo-lists-list{
    max-height: fit-content;
    overflow-y: auto;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
}

#task-input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid;
    margin: 0;
    padding:0;
    font-family: 'Consolas';
    font-size: 14px;
    width: 100%;
}

#date-input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid;
    margin: 0;
    padding:0;
    font-family: 'Consolas';
    font-size: 14px;
    width: 100%;
}

#status-input {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    align-self: flex-start;
    justify-content: flex-start;
    text-align: start;
    margin: 0;
}

.list-item-card {
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-left: 1.5%;
    margin-right: 3%;
    margin-top: 1%;
    width: 97%;
    text-align: left;
    min-height: 40px;
}

.list-header-card{
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-left: 1.5%;
    margin-right: 3%;
    margin-top: 1.5%;
    width: 97%;
    text-align: left;
}

.task-col {
    width: 100%;
}

.due-date-col {
    width:100%;
}

.status-col {
    width:100%
}

.list-controls-col {
    width:100%;
    display: flex;
    flex-direction: row;
}

.list-item-control {
    width: 20%;
}

.modal-button {
    margin-bottom: 2%;
    margin-right: 2%;
    margin-top: 2%;
    width: 20%;
    padding: 2%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    position: relative;
}

.modal-overlay {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 35%;
    top: 25%;
    padding: 1%;
    width: 30%;
}

.modal-header {
    margin: 4%;
    display: flex;
    flex-direction: row;
    height: 1%;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.left-sidebar-header-text {
    padding-left: 10px;
    font-size: 20px;
}

.left-sidebar-controls {
    padding-left: 10px;
    text-align: right;
}

